{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaggy Axel | Skills</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="{% static 'img/profile_photo.png' %}" alt="avatar" class="avatar">
        <h1 class="welcome">Welcome</h1>
        <div class="menu">
            <a href="{% url 'about' %}">About Me</a>
            <a class="active" href="{% url 'skills' %}">Skills</a>
            <a href="{% url 'experience' %}">Experience</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
            <a href="{% url 'contacts' %}">Contacts</a>
        </div>
        </div>
    </nav>
    <div class="main">
        <div class="user">
            <h3 class="name">Ruslan Korneev</h3>
            <h3 class="position">Python Developer</h3>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="content" style="margin-right: 50;">
            My skills:
            <p class="mono skills" style="margin-left: 50; margin-right: 50;">
                Python, Django, Django REST Framework. <br>
                BeautifulSoup, requests. <br>
                Aiogram, telebot, telethon, Telegram-API. <br>
                SQL, DjangoORM, SQLAlchemy. <br>
                PostgreSQL, Redis, Rabbit. <br>
                Docker, Docker-compose. <br>
                Git, GitHub, GitLab. <br>
                Nginx, Linux, Bash, Bash Scripts. <br>
                Can build small wsgi-framework. Jinja2. <br>
                CI/CD - github workflow. <br>
                Grafana, Prometheus. <br>
                HTML/CSS, JS. <br>
                Study ReactJS(Know react-router-dom, axios, material-ui, universal-cookies, can build jwt-auth) and TypeScript
            </p>
        </div>
    </div>
</body>
</html>
