* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

body {
    background: linear-gradient(
        to right bottom,
        #a3bded, #6991c7
    );
    display: flex;
    font-family: 'Kaushan Script';
    animation: show 1s 1;
    opacity: 0;
    transition: 1s;
    animation-fill-mode: forwards;
}

.circle1, .circle2 {
    background: linear-gradient(
        to right bottom,
        rgba(184, 17, 142, 0.8),
        rgba(70, 6, 66, 0.3)
    );
    animation: border-transform 6s linear infinite alternate forwards;
    height: 15rem;
    width: 15rem;
    position: fixed;
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    z-index: 2;
}

.circle1 {
    top: 5%;
    right: 2.5%;
    animation-delay: 1s;
}

.circle2 {
    bottom: 5%;
    left: 20%;
}

@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }

/* NAVIGATION */

nav {
    flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30;
    margin-bottom: 30;
    margin-left: 50;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(0.5rem);
    z-index: 3;
}

.welcome {
    flex: 1;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 78.45%;
    
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    
    color: #4219a0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    animation: show 10s 1;
    opacity: 0;
    transition: 1s;
    animation-fill-mode: forwards;
}

.menu {
    flex: 4;
    left: 0%;
    right: 26.46%;
    top: 50.55%;
    bottom: 34.81%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    animation: show 4s 1;
    opacity: 0;
    transition: 1s;
    animation-fill-mode: forwards;
}

.menu a {
    color: #4219a0;
}

/* CONTENT */

.main {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 50;
    margin-bottom: 50;
    margin-left: 150;
}

.user {
    flex: 1;
    margin-left: 150;
    font-size: 150%;
}

.user .name {
    margin-left: -150;
    animation: showname 4s 1;
    opacity: 0;
    transition: 1s;
    animation-fill-mode: forwards;
}

.user .position {
    margin-left: 100;
    animation: showposition 4s 1;
    opacity: 0;
    transition: 1s;
    animation-fill-mode: forwards;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10;
    margin-bottom: 50;
    height: 70vh;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(0.5rem);
    z-index: 3;
}

.avatar {
    width: 150;
    height: 200;
    margin-top: -20px;
}

.content.requirements {
    flex: 1;
}

a {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
 
a:hover {
    font-size: 36px;
    color: black;
}

a.active {
    font-size: 40px;
    color: black;
}

@keyframes show {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes showname {
    0% {opacity:0; margin-left: -150;}
    100% {opacity:1; margin-left: -100;}
}

@keyframes showposition {
    0% {opacity:0; margin-left: 100;}
    100% {opacity:1; margin-left: 50;}
}

p.mono {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

/* CONTACTS */
/* .contact {
    display: flex;
} */

.contact-logo {
    width: 90;
}
